# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\codes\BSTgeneric\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
